<div class='w-4 h-4 rounded-full overflow-hidden flex flex-col'>
  <div class='w-full h-1/2 bg-green-400'></div>
  <div class='w-full h-1/2 bg-violet-400'></div>
</div>
<div class='w-4 h-4 rounded-full bg-blue-500 ml-2'></div>
