<div class='w-5 h-5 rounded-full overflow-hidden flex flex-col border border-gray-200'>
  <div class='w-full h-1/2 bg-green-400'></div>
  <div class='w-full h-1/2 bg-violet-400'></div>
</div>
<div class='w-5 h-5 rounded-full bg-blue-500 ml-2 border border-gray-200'></div>
<div class='w-5 h-5 rounded-full bg-yellow-500 ml-2 border border-gray-200'></div>
