{% assign full_width_images = product.metafields.module.full_width_images.value %}
{% assign image_entries = full_width_images.entries | default: full_width_images %}

{% if image_entries != blank %}
  {% assign sorted_images = image_entries | sort: 'order' %}
  <div class='w-full px-4'>
    {% for image in sorted_images %}
      {% assign image_src = image.url | default: image %}
      {% if image_src != blank %}
        <img
          class='w-full block pb-10'
          src='{{ image_src }}'
          alt='{{ product.title | escape }}'
          loading='lazy'
        >
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
