{% assign video_desktop_landscape = product.metafields.module.video_module_video_landscape.value %}
{% assign video_landscape_enabled = false %}
{% if product.metafields.module.video_module_landscape_no_mbl == true
  or product.metafields.module.video_module_landscape_no_mbl == 'true'
%}
  {% assign video_landscape_enabled = true %}
{% endif %}

{% if video_landscape_enabled != blank %}
  {% if video_desktop_landscape != blank %}
    <div class='w-full aspect-video'>
      <iframe
        class='w-full h-full'
        src='{{ video_desktop_landscape }}'
        frameborder='0'
        allow='autoplay; fullscreen; picture-in-picture'
        allowfullscreen
        title='Landscape video'
        loading='lazy'
      ></iframe>
    </div>
  {% endif %}

  {% assign video_desktop_url = product.metafields.module.video_module_video.value %}

  {% if video_desktop_url != blank %}
    <div class='w-full aspect-video'>
      <iframe
        class='w-full h-full'
        src='{{ video_desktop_url }}'
        frameborder='0'
        allow='autoplay; fullscreen; picture-in-picture'
        allowfullscreen
        title='Landscape video'
        loading='lazy'
      ></iframe>
    </div>
  {% endif %}
{% endif %}
