<div class='w-full aspect-video px-4'>
  {% assign video_url = product.metafields.module.video_module_video.value %}
  {% if video_url %}
    <iframe
      class='w-full h-full'
      src='{{ video_url }}'
      frameborder='0'
      allow='autoplay; fullscreen; picture-in-picture'
      allowfullscreen
    ></iframe>
  {% endif %}
</div>
