<div class='px-4 py-10'>
  <h3 class='w-full text-center font-accent font-normal text-xl uppercase mb-10'>You may also like</h3>
  <div class='w-full grid grid-cols-4 gap-0'>
    <div class='relative group'>
      <a href='#'>
        <img src='https://cdn.shopify.com/s/files/1/0012/4079/3193/files/SQR_Clara_Summer_Pump_Cacao_001.jpg?v=1662646489'>
        <div
          class='absolute inset-0 bg-black opacity-0 group-hover:opacity-30 transition-opacity duration-300 ease-in-out'
        ></div>
      </a>
    </div>
    <div class='relative group'>
      <a href='#'>
        <img src='https://cdn.shopify.com/s/files/1/0012/4079/3193/files/RSQ_Canvas-Mules_Bruciato_Nero039.jpg?v=1711629527'>
        <div
          class='absolute inset-0 bg-black opacity-0 group-hover:opacity-30 transition-opacity duration-300 ease-in-out'
        ></div>
      </a>
    </div>
    <div class='relative group'>
      <a href='#'>
        <img src='https://cdn.shopify.com/s/files/1/0012/4079/3193/files/RSQ_Gemma_Pumps_Abisso_Choclate_002.jpg?v=1720295919'>
        <div
          class='absolute inset-0 bg-black opacity-0 group-hover:opacity-30 transition-opacity duration-300 ease-in-out'
        ></div>
      </a>
    </div>
    <div class='relative group'>
      <a href='#'>
        <img src='https://cdn.shopify.com/s/files/1/0012/4079/3193/products/SQR_Mildred_Boot_Nero_Cacao_001.jpg?v=1663078047'>
        <div
          class='absolute inset-0 bg-black opacity-0 group-hover:opacity-30 transition-opacity duration-300 ease-in-out'
        ></div>
      </a>
    </div>
  </div>
</div>
