<div class='w-full flex px-4'>
  <div class='w-full lg:w-1/2'>
    <div class='relative w-full' style='padding-top: 177.78%;'>
      <iframe
        src='https://player.vimeo.com/video/491347531?api=1&loop=1&mute=1&controls=0&portrait=0&byline=0&title=0&background=1&autoplay=1'
        class='absolute inset-0 w-full h-full'
        frameborder='0'
        allow='autoplay; fullscreen; picture-in-picture'
        allowfullscreen
        title='Vertical video'
        loading='lazy'
      >
      </iframe>
    </div>
  </div>
  <div class='hidden lg:w-1/2'></div>
</div>
