<div class='flex flex-col lg:flex-row px-4 py-10 items-stretch  bg-pink-300'>
  <div class='w-full lg:w-1/2 flex flex-col items-center justify-center self-stretch'>
    <div>
      <h3 class='font-accent text-xl lg:text-4xl text-center lg:text-left mb-3'>STANDING STRONG</h3>
      <p class='font-accent text-sm lg:text-lg text-center lg:text-left mb-6 lg:mb-0'>Confident and ambitious</p>
    </div>
  </div>
  <div class='w-full lg:w-1/2'>
    <img class='w-full block' src='https://cdn.shopify.com/s/files/1/0012/4079/3193/files/R_IMG_8395.jpg?v=1741734138'>
  </div>
</div>
