{% assign video_mobile_url = product.metafields.module.video_module_video_mobile.value %}

{% if video_mobile_url != blank %}
  <div class='w-full flex px-4'>
    <div class='w-full lg:w-1/2'>
      <div class='relative w-full' style='padding-top: 177.78%;'>
        <iframe
          src='{{ video_mobile_url }}'
          class='absolute inset-0 w-full h-full'
          frameborder='0'
          allow='autoplay; fullscreen; picture-in-picture'
          allowfullscreen
          title='Vertical video'
          loading='lazy'
        ></iframe>
      </div>
    </div>
    <div class='hidden lg:w-1/2'></div>
  </div>
{% endif %}
